*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
}
.orange{
    color:orange;
}
.welcome-section{
    display:flex;
}
.half-width{
    width:50%;
    padding:3em 5em;
}
.half-width img{
    width:100%;
}
.ship-img img{
    border-radius: 5%;
    
}
.btn{
    background-image:linear-gradient(to left, orange, tomato);
    padding:1em 3em;
    border:none;
    border-radius: 5px;
    box-shadow:2px 2px 5px 2px gray;
    cursor: pointer;
    margin-top:2em;
}
.section-1{
background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}
.section-2{
background-image:url(images/dream-bg.png);
background-repeat: no-repeat;
background-position:right;
}
.welcome-section h1{
    margin-bottom:0.5em;
    font-weight: 900;
    
}
.welcome-section h4{
    margin-bottom:0.4em;
    font-weight: 900;
    color:orange;
}
.experience-flex{
    display:flex;
    justify-content: space-between;
    
    
}
.experience-box{

    width:50%;
    
    box-shadow:5px 5px 10px 5px gray;
    padding:2em;
    margin:2em;
    overflow: hidden;
    display:flex;
    flex-direction: column;
}
.novo-box{
    border-image:linear-gradient(blue, cyan);
    border-left:7px solid;
    border-image-slice: 1;
}
.pro-box{
    border-image:linear-gradient(orange, tomato);
    border-left:7px solid;
    border-image-slice: 1;
}
.experience-box h2{
    font-size: 40px;
    font-weight:900;
    margin-bottom:0.6em;
}
.experience-box .experience-orange{
    color:orange;
    margin-bottom:1em;
}
.experiences{
    margin-left:0.5em;
}
footer{
    text-align:center;
    margin-top:8em;
    opacity:0.5;
    font-size:13px;
    font-style: italic;

}